
body{
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	
}
.head{
	text-align: center;
	background-color: green;
	
}

.left{
	background-color: blue;
	width: 30%;
	height: 100%;
	display: inline-block;
	position: absolute;
	overflow: scroll;

}
.right{
	background-color: yellow;
<<<<<<< HEAD
	width: 50%;
	max-height: 100%;
=======
	width: 70%;
>>>>>>> origin/master
	height: 100%;
	display: inline-block;
	position: absolute;
	overflow: scroll;
	right: 0px;
}
