<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login to Teeny Chat</title>
</head>
<body>
  <h1>Login</h1>
  <input type="button" id="loginWithFacebook" value="Login with Facebook">
  <input type="button" id="getName" value="Get Name">
  <input type="button" id="logout" value="Logout">
  <div class="login">

  </div>

  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
  <script src="javascripts/login.js"></script>
</body>
</html>