<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="login.css">
  <meta charset="UTF-8">
  <title>Login to Teeny Chat</title>
</head>
<body>
     <div style="position: relative; top 0; margin-left: -50px; margin-right:-20px;">
       <img src="/images/Purple_block.png" alt="" style="position: absolute; width:100%;height:144px;">
       <img src="images/logo_white_on_purple.jpg" alt="" style="position: relative; width:320px;height:144px;left:50%; margin-left: -128px;">
    </div>
  <h3 style="font-family:verdana">Login to Begin Chatting</h3>
  <input type="image" src="images/sign_in_with_facebook.png" id="loginWithFacebook" value="Login with Facebook">
  <!-- <input type="button" id="getName" value="Get Name"> -->
  <!-- <input type="button" id="logout" value="Logout"> -->
  <div class="login">

  </div>

  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
  <script src="javascripts/login.js"></script>
</body>
</html>
