<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>teenyChat</title>
  <link rel="stylesheet" href="stylesheets/style.css" charset="utf-8">
</head>
<body>
  <div style="position: relative; top 0; margin-left: -50px; margin-right:-20px;">
    <img src="/images/Purple_block.png" alt="" style="position:absolute; width:100%;height:144px;">
    <img src="images/logo_white_on_purple_shadow.jpg" alt="" style="position: relative; width:320px;height:144px;left:50%; margin-left: -128px;">
    <input type="image" src="images/Log-out-light-shadow.png" id="logout" value="Login with Facebook" style="position:absolute;right:100px;top:30px" margin:"30px;" height="80px" width="200px">

 </div>
<div id="upper">
  <!-- <input type="button" value="Logout" id="logout"> -->

  <div class="rest">
  <h2 id="gogo">Profanity Counter: <span id="cussCounter"></span></h2>
</div>
  <div class="left"></div>
  <div class="right">
    <input type="text" id="message" value="">
    <input type="button" id="sendMessage" value="Send">
    <input type="button" id="spitGameButton" value="Spit Game">
    <div id="chatBox"></div>
  </div>
</div>
  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
  <script src="javascripts/main.js"></script>
</body>
</html>
